.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1328_631.jpg");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1331_606.jpg");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1347_368.jpg");
}
