.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

/* .bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1328_631.jpg");
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1331_606.jpg");
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("Img/221203T1347_368.jpg");
} */
.rectangle1 {
  width: 100%;
  height: 500px;
  background: #4da1f7;
}
.rectangle2 {
  width: 100%;
  height: 500px;
  background: palevioletred;
}
.rectangle3 {
  width: 100%;
  height: 500px;
  background: seagreen;
}
